In [2]:
import pandas as pd

In [3]:
mpg_df= pd.read_csv("auto-mpg.csv", header=None)
mpg_df.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

In [24]:
mpg_df.columns = ['mpg(연비)','cylinders(실린더수)', 'displacement(배기량)', 'horsepower(출력)' ,'weight(차중)', 'acceleration(가속능력)', 'modelYear(출시년도)', 'originNumber(제조국번호)', 'name(모델명)' ]
#print(mpg_df.head())
#mpg_df.tail()
#mpg_df.head(n=30)

mpg_df.info() 
# -> Non-null = Null이 없다

#mpg_df.describe()
# -> 기술통계 (변수가 1개 사라졌다)

mpg_df.describe(include="all")
# -> 기술통계 (모든 변수를 볼 수 있어)

print(mpg_df["originNumber(제조국번호)"].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   mpg(연비)              398 non-null    float64
 1   cylinders(실린더수)      398 non-null    int64
 2   displacement(배기량)    398 non-null    float64
 3   horsepower(출력)       398 non-null    object
 4   weight(차중)           398 non-null    float64
 5   acceleration(가속능력)   398 non-null    float64
 6   modelYear(출시년도)      398 non-null    int64
 7   originNumber(제조국번호)  398 non-null    int64
 8   name(모델명)            398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
1    249
3     79
2     70
Name: originNumber(제조국번호), dtype: int64

In [25]:
mpg_df["originNumber(제조국번호)"].replace({1:"USA", 2:"EU", 3:"JPN"}, inplace=True)
mpg_df["originNumber(제조국번호)"] = mpg_df["originNumber(제조국번호)"].astype('category')
print(mpg_df["originNumber(제조국번호)"].head())
mpg_df.info()

0    USA
1    USA
2    USA
3    USA
4    USA
Name: originNumber(제조국번호), dtype: category
Categories (3, object): [EU, JPN, USA]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   mpg(연비)              398 non-null    float64
 1   cylinders(실린더수)      398 non-null    int64
 2   displacement(배기량)    398 non-null    float64
 3   horsepower(출력)       398 non-null    object
 4   weight(차중)           398 non-null    float64
 5   acceleration(가속능력)   398 non-null    float64
 6   modelYear(출시년도)      398 non-null    int64
 7   originNumber(제조국번호)  398 non-null    category
 8   name(모델명)            398 non-null    object
dtypes: category(1), float64(4), int64(2), object(2)
memory usage: 25.5+ KB

In [26]:
import numpy as np
# np.nan -> nan은 상수

In [27]:
print(mpg_df.isnull().sum())
# 결측치 행의 개수 찾기 (결측치가 안보일 수도 있음) -> 기술통계 같이 확인!

mpg(연비)                0
cylinders(실린더수)        0
displacement(배기량)      0
horsepower(출력)         0
weight(차중)             0
acceleration(가속능력)     0
modelYear(출시년도)        0
originNumber(제조국번호)    0
name(모델명)              0
dtype: int64

In [29]:
mpg_df['horsepower(출력)'].std
# ?,- 등의 결측치가 있는지 확인

<bound method Series.std of 0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393    86.00
394    52.00
395    84.00
396    79.00
397    82.00
Name: horsepower(출력), Length: 398, dtype: object>

In [33]:
mpg_df.replace('?',np.nan, inplace=True)
# ? -> np.nan(결측치)로 바꿔주고 저장

mpg_df = mpg_df.astype({'horsepower(출력)' : np.float})
# 자료형을 float으로 변경 (형변환)

mean_power = mpg_df['horsepower(출력)'].mean()
# horsepower의 평균값 = mean_power

mpg_df['horsepower(출력)'].fillna(mean_power, inplace=True)
# na의 값들 (결측치)를 mean_power로 바꿔준다

print(mpg_df.describe(include='all'))

           mpg(연비)  cylinders(실린더수)  displacement(배기량)  horsepower(출력)  \
count   398.000000       398.000000         398.000000      398.000000
unique         NaN              NaN                NaN             NaN
top            NaN              NaN                NaN             NaN
freq           NaN              NaN                NaN             NaN
mean     23.514573         5.454774         193.425879      104.469388
std       7.815984         1.701004         104.269838       38.199187
min       9.000000         3.000000          68.000000       46.000000
25%      17.500000         4.000000         104.250000       76.000000
50%      23.000000         4.000000         148.500000       95.000000
75%      29.000000         8.000000         262.000000      125.000000
max      46.600000         8.000000         455.000000      230.000000

         weight(차중)  acceleration(가속능력)  modelYear(출시년도) originNumber(제조국번호)  \
count    398.000000          398.000000       398.000000                 398
unique          NaN                 NaN              NaN                   3
top             NaN                 NaN              NaN                 USA
freq            NaN                 NaN              NaN                 249
mean    2970.424623           15.568090        76.010050                 NaN
std      846.841774            2.757689         3.697627                 NaN
min     1613.000000            8.000000        70.000000                 NaN
25%     2223.750000           13.825000        73.000000                 NaN
50%     2803.500000           15.500000        76.000000                 NaN
75%     3608.000000           17.175000        79.000000                 NaN
max     5140.000000           24.800000        82.000000                 NaN

         name(모델명)
count          398
unique         305
top     ford pinto
freq             6
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN